*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.horizontal-container{
    display: flex;
    height: 35vh;
    width: 100vw;

}


.rating-section{
    flex-grow: 1;
}

.selection{
    flex-grow: 3;
}

.recommended{
    flex-grow: 1;
}

.header{
    width: 100%;
    height: 5vh;
    background-color: lightgreen;
    border-left: solid green 8px;
}

.nav-container{
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-list{
    height: 100%;
    width: 25%;

    display: flex;
    
}

.nav-list li{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    


}

.horizontal-container-large{
    display: flex;
    height: 60vh;
   
}




.section-1{
    flex-grow: 1;

    
}

.section-2{
    flex-grow: 1;

}

.card{
    background-color: lightgreen;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.course{
    background-color: green;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.course-span{
    display: flex;

    height: 100%;
    width: 100%;

}