*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.horizontal-container{
    display: flex;
    height: 35vh;
    width: 100vw;

}

.horizontal-container > div{
    border: 2px solid black;

}

.rating-section{
    flex-grow: 1;
}

.selection{
    flex-grow: 3;
}

.recommended{
    flex-grow: 1;
}

.header{
    width: 100%;
    height: 5vh;
    background-color: skyblue;
    border-left: solid blue 8px;
}

.nav-container{
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-list{
    height: 100%;
    width: 25%;

    display: flex;
    
}

.nav-list li{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    


}

.horizontal-container-large{
    display: flex;
    height: 60vh;
   
}


.horizontal-container-large > div{
    border: solid black;
    border-width: 2px 2px 0px 2px;

}

.section-1{
    flex-grow: 1;

    
}

.section-2{
    flex-grow: 1;

}