li{
    list-style-type: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.horizontal-container{
    display: flex;
    height: 35vh;
    width: 100vw;

}


.rating-section{
    width: 15%;
}

.selection{
    width: 70%;
}

.recommended{
    width: 15%;
}

.header{
    width: 100%;
    height: 5vh;
    background-color: lightgreen;
    border-left: solid green 8px;
}

.nav-container{
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-list{
    height: 100%;
    width: 25%;

    display: flex;
    
}

.nav-list li{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    


}

.horizontal-container-large{
    display: flex;
    height: 55vh;
   
}




.section-1{
    height: 90%;
    width: 100%;

    
}

.section-2{
    height: 90%;
    width: 100%;

}

.card{
    background-color: lightgreen;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}



.course-span{
    display: flex;
    height: 100%;
    width: 100%;

}

.course{
    background-color: green;
    border: .5rem solid yellow;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.course > *{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.course-heading{
    flex-shrink: 1;

}
.course-rating{
}
.course-details{
    flex-shrink: 2;
}

.course-button{
    width: 100%;
}

#test{
    background-color: white;
}

.section-header{
    width: 100%;
    background-color: red;
}


.footer{
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 159);
    border-left: solid yellow 8px;

}

.footer, .header{
    outline: 2px solid black;
}
